{% include 'header.html' %}
{% include 'nav.html' %}
<main class="article-content">
    <div class="user-balance">User Balance: {{userCoins.userBalance | number_format(2,'.')}} $</div>
    <form method="post" action="/wallet">
        <label for="input-number">Input deposit amount</label>
        <br>
        <input name="deposit" id="input-number" type="number" step="0.01" placeholder="Input deposit amount">
        <input type="submit" value="Deposit">
        {{error.balance}}
    </form>
    <hr>
    <div class="user-coin-container">
        {% for item in userCoins.coins %}
        <div class="user-coin">
            <img class="user-coin-img" src="{{item.coin.getLogoUrl | e}}" alt="coin-img">
            <div class="user-coin-symbol">{{item.coin.getSymbol | e}}</div>
            <div class="user-coin-name">{{item.coin.getName}}</div>
            <div class="user-coin-current-price">
                <div>Current Price:</div>
                <div>{{item.coin.quote.price | number_format(2,'.')}} $</div>
            </div>
            <div class="user-coin-current-price">
                <div>AVG Price:</div>
                <div>{{item.avg | number_format(2,'.')}} $</div>
            </div>
            <div class="user-coin-count">
                <div>Coins in wallet:</div>
                <div>{{item.count | e}}</div>
            </div>
        </div>
        <form class="sell-form" method="post" action="/wallet/token={{item.coin.id | e('url')}}">
            <label for="input-token">Profit selling 1 coin: {{item.income | number_format(2,'.')}} $</label>
            <input id="input-token" name="count" type="number" step="0.00000001" placeholder="{{attribute(error,item.coin.id)}}">
            <input type="submit" value="Sell">
        </form>
        {% endfor %}
    </div>
</main>
{% include 'footer.html' %}