body{
    background-image: url("/views/assets/img/background.webp.png");
}
.article-content{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.wrapper{
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}
table.coin-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.coin-img {
    max-width: 25px;
}

table.coin-table td, th {
    border: 1px solid #ddd;
    padding: 8px;
    color: navajowhite;
}

.coin-table td a {
    text-decoration: none;
    color: navajowhite;
}


table.coin-table tr:hover {
    background-color: navy;
}

table.coin-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: maroon;
    color: white;
}
/* nav-menu */
.menu {
    border-bottom: 1px solid #ddd;
    color: darkgray;
    display: flex;
    justify-content: space-between;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.user-info{
   list-style: none;
}
.user-info{
    color: navajowhite;
}
.nav-button {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: darkgray;
    font-size: 20px;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #eee;
    color: #000;
}

.login-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#user-welcome-name {
    margin-right: 20px;
    font-weight: bold;
}

#user-balance {
    margin-right: 20px;
}
/*search bar*/
.search-bar{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.input-search{
    height: 36px;
    font-size: 20px;
    color: navajowhite;
    background: transparent;
    border: 2px solid maroon;
    border-radius: 5px 0 0 5px;
}
.search-button{
    width: 40px;
    height: 36px;
    border: 2px solid maroon;
    background: transparent;
    text-align: center;
    color: navajowhite;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.login-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login-form{
    color: navajowhite;
}
.login{
    padding:5px;
    display: flex;
    flex-direction: column;

}
.login a{
    text-decoration: none;
    color:navajowhite;
}
.login a:hover{
    background-color: darkgray;
    color: black;
}
.psw{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.submit-button{
    margin-top: 10px;
    width:100%;
    height:36px;
    border:none;
    border-radius:5px;
    font-size:17px;
    font-weight:600;
    color:navajowhite;
    background-color:maroon;
    cursor:pointer;
}


.submit-button:hover{

    background-color:#1859c9db;
}

/* buy send sell short */
.buy-sell-forms{
    display: flex;
    flex-direction: row;
    color: navajowhite;
}
.buy-sell-form{
    display: flex;
    flex-direction: column;
    background: #242425;
    padding: 15px;
    height: fit-content;
    border-radius: 10px;
    margin: 15px;
}

.buy-sell-form input{
    background: #242425;
    border: 2px solid maroon;
    color: navajowhite;
    border-radius: 10px;
    min-height: 36px;
    margin-top: 10px;
    font-size: 20px;
}
.user-coin-container{
    display: flex;
    flex-direction: column;

}
.coin-container{
    display: flex;
    flex-direction: row;
}
.coin-info{
    background: #242425;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    color: navajowhite;
}
.coin-img-full{
    max-width: 50px;
    max-height: 50px;
}
h1{
    color: navajowhite;
    text-align: center;
}
footer {
    text-align: center;
    color: navajowhite;
    margin-top: 25px;
}
#popup{
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: grey;
    color: navajowhite;
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
}
.popup-message{
    font-size: 20px;
    margin-bottom: 5px;
}

#send-form{
    display: none;
}
#sell-form{
    display: none;
}
#sell{
    margin-right: 2px;
}


