<nav>
    <div>
        <a class="nav-button" href="/">Home</a>
        {% if login %}
        <a class="nav-button" href="/wallet">My Wallet</a>
        <a class="nav-button" href="/transactions">Transactions</a>
        {% endif %}
    </div>
    {% if login %}
    <div id="user-welcome-name">Welcome, {{login.name | capitalize}}</div>
    <div>Balance:{{login.balance | number_format(2,'.')}}$</div>
    {% endif %}
    <div>
        {% if not login%}
        <a class="nav-button" href="/login">Login</a>
        <a class="nav-button" href="/registration">Registration</a>
        {% endif %}
        {% if login %}
        <a class="nav-button" href="/profile">Profile</a>
        <a class="nav-button" href="/logout">Logout</a>
        {% endif %}
    </div>
</nav>


