<div id="popup">
    <i class="fa-solid fa-bell"></i>
    <div class="popup-message">{{ popup }}</div>
    <button id="popup-button" class="submit-button">Ok</button>
</div>
<script type="text/javascript" src="/views/assets/js/popup.js"></script>