{% include 'header.html' %}
{% include 'nav.html' %}
<main class="article-content">
    <form method="get">
        <label for="input-search"></label><input type="search" value="{{placehold}}" id="input-search" name="search">
        <input type="submit" value="Search">
    </form>
    <div class="user-coin-container">
        {% for key,item in userCoins | reverse(true) %}
        <div class="user-coin">
            <div class="user-coin-name">{{(key+1)}}</div>
            <img class="user-coin-img" src="{{item.logo | e}}" alt="coin-img">
            <div class="user-coin-symbol">{{item.getSymbol | e}}</div>
            <div class="user-coin-name">{{item.getName | e}}</div>
            <div class="user-coin-current-price">
                <div>Price:</div>
                <div>{{(item.price/100) | number_format(2,'.')}} $</div>
            </div>
            <div class="user-coin-name">
                <div>Operation type:</div>
                <div>{{item.operation}}</div>
            </div>
            <div class="user-coin-count">
                <div>Count:</div>
                <div>{{item.count | e}}</div>
            </div>

        </div>
        {% endfor %}
    </div>
</main>
{% include 'footer.html' %}